<h1 class= 'tile rec'>Users </h1>

         <% @users.each do |user| %> 
         <div class='usertile'>
         <img src=<%=user.picture %> > 
         <br>
     <%= link_to user.name, user_path(user) %> 
     <br>
     age <%= user.age %> 
     <br>
     Recent Activity 
     <% user.posts.each do |post| %>
     <%= link_to post.description, post_path(post) %> 
         <%end%> 
     </div>
    <%end%> 

 