<h1> <%= @ingredient.name %> </h1>

<%= image_tag("#{@ingredient.picture}") %> <br>

<ul>
    <% @ingredient.recipes.each do |ri| %>
    <li> <%= link_to ri.name, recipe_path(ri)%> </li>
     <%end%> 
</ul>