<!-- <head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: red;
}
</style>
</head> -->

<h1 class= 'tile rec'>Post feed</h1>
<br>
<ul>
   <% @posts.each do |post| %>
    <li class= 'tile'><%= link_to post.user.name, user_path(post.user_id) %> cooked
    <%= link_to post.recipe.name, recipe_path(post.recipe_id) %>
<br>
<br>
<img class= 'tile' src=<%= post.recipe.picture %>> <br>

Recommand from the chef: 
<%(post.rating).times do %>
    <span class="fa fa-star checked"></span>
<% end %>
<% (5 - (post.rating)).times do %>
<span class="fa fa-star"></span>
<% end %>
<br><br>

Check more about this post!
<%= button_to 'Check this post', post_path(post.id), method: :get %><br>
<%end%> </li>
</ul>
<br>
<br>