:root {
    --body-font: Helvetica;
    --display-font: Helvetica;
    align-items: center;
}

h1, h2 {
    font-family: var(--display-font);
}
nav {
    min-width: 1200px;
    position: fixed;
    top: 0;
    overflow: none;
    float: left;
    width: 100%;
    height: 40px;
    font-size: 18px;
    display: block;
    background-color: hsl(0, 81%, 43%);
    /* box-shadow: 3px 3px 30px #042a34bd; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: black;
}
main {
    margin-top: 100px;
    padding: 20px;
}
.containstars{
    display: flex; 
    font-family: Arial, Helvetica, sans-serif;
}
.postcard{
    margin: 4px 4px 40px 4px;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    padding: 15px 0px; 
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.showpost{
    margin: 4px 4px 40px 200px;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    padding: 30px 40px; 
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
}
.recipeshow {
    margin: 4px 4px 40px 300px;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 20px 20px; 
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.background {

}
.padding_bottom_30{
    padding-bottom: 30px;
}
.tile_header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-decoration: none;
    color:black;
}
.tile_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-decoration: none;
    color:black;
}
.li {
    display: inline;
}
.li a {
    padding: 0 12px 0 12px;
}
.ing {
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
}
ul {
    list-style-type: none;
    align-items: center;
}
.usersignup {
    margin: 40px 30px 40px 40px;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    padding: 15px 0px; 
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
.usertile{
    margin: 50px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
}
.showpageuser{
    margin: 40px 30px 200px 100px;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    padding: 30px; 
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: fit;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}
.indexpageuser{
    margin: 20px;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    padding: 30px; 
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}
.tile {
    background-color: rgb(255, 255, 255);
     width: 40%;
     border-radius: .7rem;
     padding: 5px; 
     font-family: Arial, Helvetica, sans-serif;
}
.rec {
    padding: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-top: -5px;
  font-family: Arial, Helvetica, sans-serif;
}
.rating_container {
    line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.list {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}
.emoji{
    font-size: 50px;
    text-decoration: none;
}
.button_red{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.button_blue{
    background-color: #0447ff;
    border: none;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.button_default{
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 12px;
  }
}

html{
    align-items: center;
    background: url("https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/12_powerhouse_vegetables_slideshow/intro_cream_of_crop.jpg") center center fixed;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    background: url("https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/12_powerhouse_vegetables_slideshow/intro_cream_of_crop.jpg") center center fixed;
}
